.card
  .card__img
    %img{"src" => "https://blog.codepen.io/wp-content/uploads/2012/06/Button-Fill-Black-Large.png"}
    .card__grid-effect
      -(1..100).each do |tile|
        %a{:class => "card__grid-effect-tile", "href" => "#"}
  
    